.navbar-brand {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #00d7c6;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-text {
  margin-left: 10px;
}

.me-auto {
  margin: 2px;
  margin-left: 35rem;
}

.me-auto > * {
  text-decoration: none;
  color: grey;
  font-size: 16px;
}

.nav-link {
  margin: 1px;
}

.nav {
  margin-bottom: 25px;
}

.nav a {
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
}

.nav a.active {
  color: #fff;
  background: #7600dc;
}

.nav a.inactive {
  font-style: italic;
}
