.joined {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.missions {
  width: 50%;
  padding: 5px 20px;
  float: right;
  border: 10px white solid;
}

.rockets {
  width: 50%;
  padding: 5px 20px;
  float: left;
  border: 10px white solid;
}

ul > li {
  list-style-type: square;
}
