@import "~bootstrap/scss/bootstrap";

* {
  body {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Oxygen",
      "Ubuntu",
      "Cantarell",
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro,
      Menlo,
      Monaco,
      Consolas,
      "Courier New",
      monospace;
  }
}

.Logo-Container {
  display: flex;
  align-items: center;
}

.Logo {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.Horizontal-Card {
  flex-direction: row !important;
  margin: 1rem;
}

.Rocket-Img {
  height: 18rem;
  width: 24rem;
}

@media (max-width: 768px) {
  .Horizontal-Card {
    flex-direction: column !important;
    margin: 1rem;
  }

  .Rocket-Img {
    width: 100%;
  }
}
