@import "~bootstrap/scss/bootstrap";

* {
  body {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Oxygen",
      "Ubuntu",
      "Cantarell",
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro,
      Menlo,
      Monaco,
      Consolas,
      "Courier New",
      monospace;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.rocket {
  flex-direction: row !important;
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 30px;
}


.rocket-img {
  width: 200px;
  margin: 20px;
}

.rocket-reservation-badge > span.reserved {
  background-color: #f68d36;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 12px;
}

.no-rocket-reservation {
  padding: 12px;
}

.rocket-desc {
  padding: 10px;
}

.card-text {
  margin: 0 10px 5px 10px;
  font-size: 14px;
}

.rocket-title {
  font-weight: bold;
}

.reserve-rocket-btn {
  color: white;
  background-color: #00d7c6;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.joined {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.missions {
  width: 50%;
  padding: 5px 20px;
  float: right;
  border: 2px rgb(145, 140, 140) solid;
}

.rockets {
  width: 50%;
  padding: 5px 20px;
  float: left;
  border: 2px rgb(145, 140, 140) solid;
}

ul > li {
  list-style-type: square;
}

@media (max-width: 768px) {
  .rocket {
    flex-direction: column !important;
    margin: 1rem;
  }

  .rocket-img {
    width: 100%;
  }
}
